.add {
  background: rgb(47, 47, 47);
  background: linear-gradient(
    0deg,
    rgb(29, 29, 29) 0%,
    rgba(0, 0, 0, 1) 30%
  );
  /* height: 1080px; */
  display: flex;
  padding-bottom: 110px;
  /* height: 100%; */

  /* flex-direction: column  ; */
  /* grid-template-columns: 1fr 1fr; */
}
.add__wrapper{
  width: 100%;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../../../../public/img/product.svg");
}
.description--side{
  width: 55%;
}
.add__button{
  margin-top: 8vw;
  margin-left: 150px;
}
.add__title {
  color: white;
  padding-top: 30px;
  padding-left: 100px;
  font-family: "Barlow-ExtraBoldItalic";
  font-size: 130pt;
}
.add__subtitle {
  color: white;
  padding-left: 150px;
  padding-top: 30px;
  letter-spacing: 10px;
  font-family: "Roboto-LightItalic";
  font-size: 70px;
}
.add__description {
  color: white;
  padding-left: 100px;
  padding-top: 125px;
  letter-spacing: 5px;
  word-spacing: 12px;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Roboto-LightItalic";
}
/* .image {
  
} */
@font-face {
  src: url(../../../../../public/fonts/Barlow-ExtraBoldItalic.ttf);
  font-family: "Barlow-ExtraBoldItalic";
}
@font-face {
  src: url(../../../../../public/fonts/robots/Roboto-LightItalic.ttf);
  font-family: "Roboto-LightItalic";
}

@media screen and (max-width: 2000px) {
  .add__description{
    padding-top: 50px;
  }
  .add__button{
    margin-top: 3vw;
  }
  .add{
    padding-bottom: 55px;
  }
}
/* @media screen and (max-width: 1720px) {
  .add__wrapper{
    background-position: 235px;
  }
} */
