.aboutUsSection{
    padding: 60px 0;
    /* background-color: black; */
    /* background-color: #2f2f2f; */
    display: flex;
    /* text */
    color: white;
    align-items: center;
    flex-direction: column;
}
.aboutUs__title{
    font-size: 80px;
    font-family: RubikMonoOne-Regular;
    /* width: 40%; */
    /* height: 200%; */
    
}
.aboutUs__description{
    /* display:inline; */
    margin-top: 60px;
    font-size: 30px;
    /* font-family: Battambang; */
    font-family: Roboto-Medium;
    width: 60%;
    text-align: center;
}
