.sponsors {
  /* justify-self: center; */
  /* justify-items: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  padding: 0 30px 100px 30px;
}
.sponsors__label {
  /* width: calc(16vw * 1.2); */
  height: calc(6vw * 1.2);
  /* background-color: black; */
  background-size: contain;
  background-repeat: no-repeat;
}
.label1 {
  background-image: url("../../../../../public/img/sponsors/epiphone.jpg");
}
.label2 {
  background-image: url("../../../../../public/img/sponsors/fender.jpg");
}
.label3 {
  background-image: url("../../../../../public/img/sponsors/ibanez.jpg");
}
.label4 {
  background-image: url("../../../../../public/img/sponsors/gibson.jpg");
}
.label5 {
  background-image: url("../../../../../public/img/sponsors/yamaha.jpg");
}
.label6 {
  background-image: url("../../../../../public/img/sponsors/jackson.jpg");
}
.label7 {
  background-image: url("../../../../../public/img/sponsors/pioneer.jpg");
}
.label8 {
  background-image: url("../../../../../public/img/sponsors/roland.jpg");
}
.label9 {
  background-image: url("../../../../../public/img/sponsors/schecter.jpg");
}
.label10 {
  background-image: url("../../../../../public/img/sponsors/sennheizer.jpg");
}
.label11 {
  background-image: url("../../../../../public/img/sponsors/vox.svg");
}
.label12 {
  background-image: url("../../../../../public/img/sponsors/marshall.jpg");
}
